<div class="container">
	<div class="jumbotron">
		<h1>Ejercicios de clase</h1>
		
		<fieldset>
			<legend>Tema 2</legend>
			<a href="/t2/ej10">Ej.10</a><br/>
			<a href="/t2/ej11">Ej.11</a><br/>
			<a href="/t2/ej18">Ej.18</a><br/>
		</fieldset>

		<fieldset>
			<legend>Tema 3</legend>
			<a href="/t3/ej12">Ej.12</a><br/>
		</fieldset>

		<fieldset>
			<legend>Tema 4</legend>
			<a href="/t4/ej1">Ej.1</a><br/>
			<a href="/t4/ej2">Ej.2</a><br/>
		</fieldset>

		<fieldset>
			<legend>Examen</legend>
			<a href="/persona/c">Crear persona</a><br/>
			<a href="/persona/r">Listar personas</a><br/>
			<a href="/persona/rf">Listar personas por sexo</a><br/>
			<br/>
			<a href="/pais/c">Crear país</a><br/>
			<a href="/pais/r">Listar países</a><br/>

		</fieldset>

	</div>
</div>